<div class="layout">
  <div class="layout__12">
    <ul class="projects">
      <% @projects.each do |project| %>
        <li><%= link_to(project.name, project) %></li>
      <% end %>
    </ul>
  </div>
</div>
