<div class="tree">
  <% @object_view.each_tree_item do |obj| %>
    <div class="tree__item">
      <div class="tree__item__icon">
        <%= image_tag(obj[:icon]) %>
      </div>
      <div class="tree__item__name">
        <%= link_to(obj[:name], project_object_path(obj[:path_params])) %>
      </div>
    </div>
  <% end %>
</div>
