<table>
  <% @object_view.each_tree_item do |obj| %>
    <tr>
      <td><%= obj[:type] %></td>
      <td><%= link_to(obj[:name], project_object_path(obj[:path_params])) %></td>
    </tr>
  <% end %>
</table>
