<div class="tree">
  <% @object_view.tree.each_object do |obj| %>
    <div class="tree__item">
      <div class="tree__item__name">
        <%= feather_tag(obj[:icon]) %>
        <%= link_to(obj[:name], project_object_path(obj[:path_params])) %>
      </div>
    </div>
  <% end %>
</div>
